@use "colors" as c;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    background-color: c.$bg-color;
}

.page-title {
    color: c.$h1-color;
    line-height: 1;
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

.card-row {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    background-color: c.$card-bg-color;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

@media(max-width: 767px) {
    .card {
        width: 100%;
    }
}
@media(min-width: 768px) {
    .card {
        width: 33%;
    }
}

.card-img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-title {
    color: c.$h2-color;
}

.card-info {
    font-size: 1.125rem;
    line-height: 1.5;
    color: c.$card-info-color;
}